html, body, #app {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.my-bg {
    background-color: var(--primaryColor);
}

.active-text {
    color: var(--activeTextColor)
}